<section class="hero is-fullheight is-black is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">trade.gladiato.rs</p>
      <nav class="level">
        <div class="level-item">
          <div>
            <p class="heading">register</p>
            <button mat-button routerLink="/buy">
              <p class="title">buy</p>
            </button>
          </div>
        </div>
        <div class="level-item">
          <div>
            <button mat-button routerLink="/login">
              <p class="title">login</p>
            </button>
          </div>
        </div>
        <div class="level-item">
          <div>
            <p class="heading">register</p>
            <button mat-button routerLink="/sell">
              <p class="title">sell</p>
            </button>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>
