<mat-toolbar color="primary">
    <button mat-button routerLink="/main">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-button routerLink="/main-wallet-protect">
      protect
    </button>

</mat-toolbar>
<section class="hero is-fullheight-with-navbar is-black is-bold">
  <div class="hero-head">
    <div class="container has-text-centered">
      <br>
      <br>
      <p class="heading">balance</p>
      <p class="title">
        {{ isLiber ? ((liber | async) + ' LGLA') : ((fixum | async) + ' FGLA') }}
      </p>
    </div>
  </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="heading" *ngIf="liber">Liber</p>
            <p class="heading" *ngIf="!liber">Fixum</p>
                <p class="title">Transfer</p>
                <mat-form-field style="width:100%">
                    <input matInput placeholder="Address/Public Key" [(ngModel)]="addressPublicKey" [formControl]="addressFormControl" [errorStateMatcher]="errorStateMatcher" />
                    <mat-error *ngIf="addressFormControl.hasError('backend')">
                      {{ (isError | async)?.english }}
                    </mat-error>
                    <mat-error *ngIf="addressFormControl.hasError('required')">
                       Address/PublicKey is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width:100%">
                  <input matInput placeholder="Amount" [formControl]="amountFormControl" [(ngModel)]="amount" [errorStateMatcher]="errorStateMatcher" />
                  <mat-error *ngIf="amountFormControl.hasError('backend')">
                    {{ (isError | async)?.message }}
                  </mat-error>
                  <mat-error *ngIf="amountFormControl.hasError('required')">
                    Amount is required
                  </mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" style="width: 100%" (click)="transferLiber()" *ngIf="liber" >transfer</button>
                <button mat-raised-button color="primary" style="width: 100%" (click)="transferFixum()" *ngIf="!liber" >transfer</button>
                <br>
                <br>
                <div class="spinner-border spinner spinner-border-sm" *ngIf="isFetch | async"></div>
        </div>
    </div>
    <div class="hero-foot">
      <div class="container has-text-centered">
        <button mat-button (click)="refresh()">refresh</button>
      </div>
    </div>
</section>
